<link rel='stylesheet' href="{{ url_for('static', filename='css/style.css')}}" type='text/css' media='all' />
<footer class="mainfooter" role="contentinfo">
  <div class="footer-middle">
  <div class="container">
    <div class="row">
      <div class="col-md-3 col-sm-6">
        <!--Column1-->
        <div class="footer-pad">
          <h4>EF AIRLINES</h4>
          <ul class="list-unstyled">
            <li><a href="#"></a></li>
            <li><a href="#">
              EF
            </a></li>
          </ul>
        </div>
      </div>
      <div class="col-md-3 col-sm-6">
        <!--Column1-->
        <div class="footer-pad">
          <h4>Function list</h4>

        </div>
      </div>
      <div class="col-md-3 col-sm-6">
        <!--Column1-->
        <div class="footer-pad">
          <h4>Cùng VNAirlines khám phá nét đẹp hữu tình xứ Huế</h4>
           <h4>Du lịch thành phố cổ Bagan cùng VNAirlines</h4>
           <h4>Chiêm ngưỡng thành phố xinh đẹp Chiang Mai</h4>
           <h4>Đặc sản nhắc đến là thềm chỉ có ở “xứ nẫu” Bình Định</h4>
           <h4>VNAirlines khám phá vẻ đẹp kì ảo của đảo Zakynthos</h4>

          <ul class="list-unstyled">
            <li><a href="#">Điều khỏan sử dụng</a></li>
            <li><a href="#">Phone:036662137</a></li>
             <li><a href="#">Email:tongthuyvy2703@gmail.com</a></li>
            <li><a href="#">Facebook:Tống Vy</a></li>

            <li>
              <a href="#"></a>
            </li>
          </ul>
        </div>
      </div>

    </div>
	<div class="row">
		<div class="col-md-12 copy">
			<p class="text-center">Copyright &copy;<script>document.write(new Date().getFullYear());</script> OPEN WORLD</p>
		</div>
	</div>


  </div>
  </div>
</footer>
